<%- include('navbar')%>
<%- include('style')%>

    <h1 style="text-align:center;margin-top:2%">Teacher Detail</h1>
    <div id="teacherDetail" style="text-align:center">
        <table  style="margin-left:auto; margin-right:auto">
            <tr>
                <td style="text-align:center" colspan =2> <h1><%= data.firstName %> <%=data.lastName%> </h1></td>
            </tr>
            <tr >
                <td> <img src="<%=data.imageUrl %>" style="width:150px;height:150px"></img></td>
                <td style="text-align:left"> 
                    <p1>Name&nbsp;  : <%= data.firstName %> <%= data.lastName %></p1><br>
                    <p1>Email&nbsp;  : <%= data.email %></p1><br>
                    <p1>Phone&nbsp;  : <%= data.phoneNumber %></p1><br>
            </td>
            </tr>
            <tr>
                <td><a href="/teachers/<%= data.id %>/edit"><button>Edit Detail</button></a></td>
            </tr>
        </table>
    </div>


        

    
</body>
</html>